/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #353535;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
    left: 20px;
}

.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 3;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dash-content{
    display: block;

}
.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
}
.activity-data{
    display: flex;
    margin-top: 5%;
    justify-content: space-evenly;
}
.kategoria{
    background-color: rgba(58, 58, 58, 0.15);
}
.colorr{
    background-color: rgba(58, 58, 58, 0.15);
}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}
.izm-tovar{
    background-color: rgba(58, 90, 218, 0.89);
    padding: 1.2rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.izm-tovar:hover{
    background-color: #110acc;
}
.tovars{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.usser{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.zakazz{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.container-zakaz{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 5%;
}
.container-zakazs{
    display: flex;

   flex-wrap: wrap-reverse;
    gap: 5%;
}
.container-zakaz{
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    border: 2px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.button-tovars{
    display: flex;
    gap: 20px;
}
.container-add {
    display: none;
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.container-red {
    display: none;
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
h2{
    margin-top: 15px;
    font-size: 28px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
.txt-zakaz span{
    font-size: 16px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
.delete-zakaz{
    width: 200px;
    margin-left: 15%;
}
.txt-zakaz label{
    font-size: 16px;
    font-weight: 700;
    color: var(--black-light-color);
    transition: var(--tran-05);
    margin-left: 5px;
}

.obert {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.obert span {
    font-size: 20px;
}

.close {
    cursor: pointer;
    font-size: 24px;
    color: #aaa;
}

.close:hover {
    color: #333;
}

.container-input {
    padding: 20px;
}
.addUsers {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.closeAdduser {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeOtvet {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.closeAdduser:hover,
.closeAdduser:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.delete-user{
    display: flex;
    align-items: center;
    cursor: pointer;
}
form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.form-group {
    margin-bottom: 20px;
    margin-left: 2%;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}
.data-list-l{
    background-color: #0D99F8;
    padding: 1.3rem;
    margin-top: 2%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.container-red{
    display: none;
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.closeAdduser {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeAdduser:hover,
.closeAdduser:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.closered{
    cursor: pointer;
}
.sizes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.size {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.size input {
    display: none;
}

.size span {
    font-size: 18px;
}

.size input:checked + span {
    background-color: #007bff;
    color: white;
    border-radius: 8px;

}

.size:hover {
    background-color: #d4d4d4;
}
.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
}

.color input {

}

.color-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.color-name {
    font-size: 16px;
    text-align: center;
}

.color input:checked + .color-box {
    box-shadow: 0 0 0 2px #007bff;
    transform: scale(1.1);
}
.size-sneakers{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.kateg input{

}
.vbor-tovars {
    display: flex;
    background-color: rgba(126, 126, 126, 0.68); /* Серый цвет по умолчанию */
    margin-top: 2%;
    width: 45%;
    height: 50px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.vbor-tovars.active {
    background-color: rgba(13, 153, 248, 0.68); /* Синий цвет, когда чекбокс активен */
}

.datas span{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}


.add-sizez button{
    background-color: #0D99F8;
    padding: 1.3rem;
    margin-top: 2%;
    margin-left: 25%;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    transition: transform 0.5s;

}
.add-sizez button:hover{
    transform: scale(1.1);
}
.color-sneaker{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.containerr-blogs{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.blog-posts .post {
    margin-bottom: 2em;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.blog-posts h2 {
    color: #333;
    margin-bottom: 0.5em;
}

.date {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 1em;
}

.read-more {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.read-more:hover {
    background-color: #555;
}

.panel-blogs {
    margin: auto;
    width: 70%;
    padding: 1em;
    background-color: var(--panel-color);
    border: 1px solid #ccc;
}

.panel-blogs h2 {
    margin-bottom: 1em;
}

.panel-blogs form div {
    margin-bottom: 1em;
}

.panel-blogs label {
    display: block;
    margin-bottom: 0.5em;
    background-color: var(--panel-color);
}

.panel-blogs input,
.panel-blogs textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    height: 100%;
    color: var(--text-color);
}

.panel-blogs button {
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.panel-blogs button:hover {
    background-color: #555;
}
.container-vopros{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.form-control{
    width: 30%;
}
.otVopr{
    display: none;
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.container-promokod{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.block-promocod{
    width: 60%;
    margin: auto;
}
.block-otb-prom{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
    display: flex;
    align-items: center;
    margin-top:4%;
    gap: 5%;
}
.delete-promocod{
    width: 40px;
    height: 40px;
}
.prom{
    width: 30%;
    margin-top: 2%;
    margin-left: 30%;

}
.delete-blog{
    width: 120px;
    height: 40px;
}
.container-red-blog{
    display: none;
    position: fixed;
    z-index: 6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 80%;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.closeredblog{
    cursor:pointer;
}
.lll{
    display: flex;
    flex-direction: column;
}
.block-voprosov{
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    border: 2px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-groupp{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.container-vopr{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    margin-top: 5%;
}
.btn-vopr{
    width: 70%;
    margin-left:15%;
}
.blockHeaddde{
    display: flex;
    align-items: end;
    justify-content: space-evenly;
}
.contaiiner-otzv{
    display: none;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
}
.contents{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    border: 2px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5%;
}
.contents span,p{
    color: #666;
    line-height: 1.6;
    margin-bottom: 1em;
}
.btnotzv{
    width: 50%;
    margin:auto;
}
.block-otzv{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

