

.blog-posts .post {
    margin-bottom: 2em;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}
.blog-posts{
    padding-top: 10%;
    width: 70%;
    margin: auto;
}

.blog-posts h2 {
    color: #333;
    margin-bottom: 0.5em;
}

.date {
    color: #999;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 1em;
}

.read-more {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.read-more:hover {
    background-color: #555;
}
.kataloggg a {
    display: inline-flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 1.4375rem;
    border-radius: 0.3125rem;
    background: #121214;
}
