*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*чтобы верстка флексами шла сверху вниз*/
    flex-wrap: wrap;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0px;
}

#element::-webkit-scrollbar {
    scrollbar-width: thin;
    /* "auto" или "thin"  */
    scrollbar-color: #FC1A3B rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    margin: 0;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.header {
    background-color: #121214;
    display: flex;
    align-items: center;
    height: 4.25rem;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}


/* ------------------  */

nav {}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    margin-right: 4rem;
    position: relative;
}

.topmenu>li:last-child {
    margin-right: 0;
}

a {
    display: block;
    /* padding: 10px 15px; */
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: capitalize;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu a {
    padding: 10px 15px;
}

.one .submenu {
    color: #13132d;
    display: none;
}

.one .submenu {
    background: #121214;
}

.one .submenu li:hover {
    background: #313136;
}

.one ul a {
    color: #ffffff;
}

.one ul li:hover .submenu {
    display: block;
}


/* -----------  */

.acaunts {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.lk {
    cursor: pointer;
}

.pocup {
    display: flex;
    color: #ffffff;
}

.poisk {
    margin-right: 4%;
}

.sum {
    padding-left: 5%;
}

.block {
    padding-top: 10%;
}

.galv-txt {
    color:  #121214;
    /* H2 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;
    /* 135.484% */
    text-transform: uppercase;
}

.align {
    display: flex;
    align-items: center;
    padding-left: 4%;
}

.spisok {
    border-radius: 0.3125rem;
    border: 2px solid #E9EAEE;
    background: #FFF;
    width: 22rem;
}

.block {
    padding-left: 7%;
    padding-right: 7%;
}

.txt-spisok {
    color:  #303030;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
    /* 280% */
    padding-left: 5%;
    cursor: pointer;
}

.txt-spisok:hover {
    color: #006CEA;
    transition: .5s linear;
}

.txt-spisok:focus {
    color: #006CEA;
}

.left {
    padding-top: 5%;
}

.hello-txt {
    color:  #303030;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 100% */
}

.glav-block {
    display: flex;
}

.right {
    padding-top: 5%;
    padding-left: 4%;
}

.hello-block {

}

.container-right {
    border-radius: 0.3125rem;
    border: 1px solid #F6F6F6;
    background: #FFF;
    display: flex;
    flex-direction: column;
    height: 23rem;
    justify-content: space-around;
    width: 55rem;
}

.blocki-txt {
    color:  #303030;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 129.412% */
}

.line {
    display: flex;
    justify-content: space-around;
    width: 55rem;
    padding-top: 2%;
}

.blocki a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3125rem;
    border: 1px solid #F6F6F6;
    background: #FFF;
    width: 17rem;
    height: 10rem;
    justify-content: center;
}

.blocki a:hover {
    transform: scale(1.05);
    transition: .5s linear;
}

.blocki a:focus {
    border: 1px solid #006CEA;
}

.coontainer {
    background:  #121214;
    width: 100%;
    height: 23rem;
    margin-top: 15%;
}

.blocks {
    padding: 5% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.top-text {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    /* 186.667% */
    text-transform: uppercase;
}

.mid-txt a {
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 186.667% */
}

.mid-txt a:hover {
    color: #257ee4;
    /* 186.667% */
}

.mes {
    display: flex;
}

.mes a {
    padding-left: 5%;
}

.prava {
    padding: 2% 7% 0 7%;
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.burger-menu {
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    background-color: blueviolet;
    height: 20rem;
    text-align: center;
    padding-top: 25%;
}

.custom-field {
    font-size: 14px;
    position: relative;
    --field-padding: 12px;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 25rem;
    font-size: 14px;
    padding: var(--field-padding);
    margin-top: 1%;
}

.email {}

.custom-field label {
    color: #3C3D44;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 169.231% */
}

.container-right1 {
    border-radius: 0.3125rem;
    border: 1px solid #F6F6F6;
    background: #FFF;
    flex-direction: column;
    height: 23rem;
    width: 55rem;
    display: none;
}

.container-right2 {
    border-radius: 0.3125rem;
    border: 1px solid #F6F6F6;
    background: #FFF;
    display: flex;
    flex-direction: column;
    height: 23rem;
    justify-content: space-around;
    width: 55rem;
}
.top {
    display: flex;
    justify-content: space-around;
}


/* .ferstname {
    padding-left: 3%;
} */

.bot {
    display: flex;
    justify-content: space-around;
}

.katalogh {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

.katalogh a {
    display: inline-flex;
    padding: 1rem 2.4875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    background:  #121214;
    text-transform: capitalize;
    transition: .5s linear;
}

.katalogh a:hover {
    transform: scale(1.2);
}
.histiri-zakaz{
    height: 23rem;
    width: 55rem;
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: none;
}
.h-zak{
    color: rgb(51, 51, 51);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.header-zakaz{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 15px;
    margin-right: 15px;
}
.txtt{
    color: rgb(51, 51, 51);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
.container-zakaz{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(235, 235, 235);
    background: rgb(251, 251, 251);
    padding: 13px 14px 13px 14px;
    order: 1;
}
.block-adres{
    height: 19rem;
    width: 25rem;
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
}
.blok-adres-uprav{
    display: flex;
    justify-content: space-between;
}
.redd-adres{
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 0px 5px 0px 5px;
    background: rgb(18, 18, 20);
    padding: 13px 14px 13px 14px;
    color: rgb(220, 220, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.delete-adres{
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 0px 5px 0px 5px;
    background: rgb(18, 18, 20);
    padding: 13px 14px 13px 14px;
    color: rgb(220, 220, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.nomer-adresa{
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 0px 5px 0px 5px;
    background: rgb(248, 248, 248);
    text-align: center;
    padding: 13px 40px 13px 14px;
}
.name-pokup{
    color: rgb(18, 18, 20);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    margin-left: 30px;
    margin-top: 20px;
}
.adres{
    color: rgb(59, 59, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 30px;
    padding-top: 3%;
}
.email-adres{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.email-adres label{
    color: rgb(135, 135, 141);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.email-adres span{
    color: rgb(59, 59, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
.add-adres{
    box-sizing: border-box;
    border: 1px dashed rgb(196, 196, 197);
    border-radius: 5px;
    width: 600px;
    height: 90px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 50px;
}
.adressa{
    display: none;
}
.otzv{
    display: none;
}
.save-users{
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    background: rgb(18, 18, 20);
    padding: 13px 20px 13px 20px;
    color: rgb(220, 220, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    transition: .5s linear;
    border-radius: 10px;
}
.save-users:hover{
    transform: scale(1.2);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modaladd {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closeAdres {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.closeAdres:hover,
.closeAdres:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
form {
    margin-top: 20px;
}

label {
    font-weight: bold;
}

.adresvvod {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.review-form {
    width: 55rem;
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.submit-btn {
    box-sizing: border-box;
    border: 1px solid rgb(233, 234, 238);
    background: rgb(18, 18, 20);
    padding: 13px 20px 13px 20px;
    color: rgb(220, 220, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    transition: .5s linear;
    border-radius: 10px;
}
.submit-btn:hover{
    transform: scale(1.1);
}
.name-users{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}
.container-adresa{
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    width: 100%;
}
.burger-icon {
    display: none;
    justify-content: end;
    padding-right: 7%;
}
