*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*чтобы верстка флексами шла сверху вниз*/
    flex-wrap: wrap;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0px;
}

#element::-webkit-scrollbar {
    scrollbar-width: thin;
    /* "auto" или "thin"  */
    scrollbar-color: #FC1A3B rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    margin: 0;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.header {
    background-color: #121214;
    display: flex;
    align-items: center;
    height: 4.25rem;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}


/* ------------------  */

nav {}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    margin-right: 4rem;
    position: relative;
}

.topmenu>li:last-child {
    margin-right: 0;
}

a {
    display: block;
    /* padding: 10px 15px; */
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: capitalize;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu a {
    padding: 10px 15px;
}

.one .submenu {
    color: #13132d;
    display: none;
}

.one .submenu {
    background: #121214;
}

.one .submenu li:hover {
    background: #313136;
}

.one ul a {
    color: #ffffff;
}

.one ul li:hover .submenu {
    display: block;
}


/* -----------  */

.acaunts {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.lk {
    cursor: pointer;
}

.pocup {
    display: flex;
    color: #ffffff;
}

.poisk {
    margin-right: 4%;
}

.sum {
    padding-left: 5%;
}

.block {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
    display: flex;
    margin-top: 5%;
}

.name {
    color: #000;
    /* H2 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;
    /* 135.484% */
    text-transform: uppercase;
    padding-top: 10%;
}

.txt-size {
    color:  #303030;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    /* 142.857% */
    text-transform: uppercase;
    padding-top: 3%;
}

.soderh {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 3%;
    width: 500px;
}

.linne {
    display: flex;
    padding-top: 3%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sod-size {
    display: flex;
    width: 5.125rem;
    padding: 0.5rem 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.25rem;
    border: 2px solid #EFEFEF;
}

.sod-size:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.selected {
    background-color: #49D0FF;
    color: #fff;
}

.size {
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    /* 171.429% */
    text-transform: uppercase;
}

.container-size {
    display: flex;
    padding-top: 3%;
    align-items: center;
}

.katalog a {
    display: inline-flex;
    padding: 1rem 3.4875rem;
    justify-content: center;
    align-items: center;
    gap: 3.4375rem;
    border-radius: 0.3125rem;
    background:  #121214;
    text-transform: capitalize;
    transition: .5s linear;
}

.katalog a:hover {
    transform: scale(1.2);
}

.katalog {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 4%;
}

.button-vhode {
    padding-left: 5%;
}

.block-img {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.line {
    border-top: 1px solid #b7b8bc;
    border-bottom: 2px solid #b7b8bc;
    background: #FFF;
}

.line-container {
    padding-top: 5%;
}

.txt-line-detali {
    padding: 2% 0% 2% 8%;
    color:  #20282F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.txt-line-opisania{
    padding: 2% 0% 2% 8%;
    color:  #20282F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.txt-line-otzv{
    padding: 2% 0% 2% 8%;
    color:  #20282F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.425rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}
.line{
    display: flex;
}
.det-txt {
    color:  #20282F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 157.143% */
}

.det-line {
    width: 100%;
    border: 1.5px dashed #EFEFEF;
}
.color-block {
    width: 45px;
    height: 20px;
    background-color: #0000ff; /* Синий цвет */
}

.det-name {
    color:  #20282F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 157.143% */
    white-space: nowrap;
}

.det {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-detali {
    width: 35rem;
    padding-left: 10%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 4%;
}
.container-opisanie {
    width: 35rem;
    padding-left: 10%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 4%;
    display: none;
}

.txt-predloh {
    color:  #121214;
    /* H2 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;
    /* 135.484% */
    text-transform: uppercase;

}
.text-opisania{
    color: rgb(75, 75, 75);
    font-family: Pragmatica;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.predloh {
    padding-top: 5%;
    padding-left: 7%;
}

.tovar {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tovar img{
    width: 300px;
    height: 300px;
}

.price {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.name {
    color: #000;
    /* H3 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    /* 147.368% */
    text-transform: uppercase;
    /* text-align: center; */
}

.prices {
    color: #3C3C3C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    padding-left: 2%;
}

.valuta {
    color: #3C3C3C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    padding-left: 2%;
}

.ot {
    color: #3C3C3C;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
}

.lines {
    display: flex;
    justify-content: space-around;
}

.coontainer {
    background:  #121214;
    width: 100%;
    height: 23rem;
    margin-top: 15%;
}

.block {
    padding: 5% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.top-text {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    /* 186.667% */
    text-transform: uppercase;
}

.mid-txt a {
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 186.667% */
}

.mid-txt a:hover {
    color: #257ee4;
    /* 186.667% */
}

.mes {
    display: flex;
}

.mes a {
    padding-left: 5%;
}

.prava {
    padding: 2% 7% 0 7%;
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.burger-menu {
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    background-color: blueviolet;
    height: 20rem;
    text-align: center;
    padding-top: 25%;
}

.sideways {
    cursor: pointer;

}
.sideways img{
    border-radius: 20px;
}
.up {
    cursor: pointer;
}
.up img{
    border-radius: 20px;
}
.lap img{
    border-radius: 20px;
}
.lap {
    cursor: pointer;
}
#kolvo{
    width: 4rem;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.add-to-cart-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9100;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: auto;
}

.add-to-cart-btn:hover {
    background-color: #7a7a7a;
}
.add-price{
    display: flex;

}
.name-users{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}
#glav{
    width: 500px;
    height: 500px;
}
.block-img img{
    width: 150px;
    height: 150px;
}
.left{
    margin-top: 3%;
}
.det-promocod{
    display: none;
}
.det-colorss{
    display: none;
}
.burger-icon {
    display: none;
    justify-content: end;
    padding-right: 7%;
}
.leftt {
    margin-top: 3%;
}
.img-glav img{
    object-fit:cover;
}
