*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*чтобы верстка флексами шла сверху вниз*/
    flex-wrap: wrap;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0px;
}

#element::-webkit-scrollbar {
    scrollbar-width: thin;
    /* "auto" или "thin"  */
    scrollbar-color: #FC1A3B rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    margin: 0;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.header {
    background-color: #121214;
    display: flex;
    align-items: center;
    height: 4.25rem;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}


/* ------------------  */

nav {}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    margin-right: 4rem;
    position: relative;
}

.topmenu>li:last-child {
    margin-right: 0;
}

a {
    display: block;
    /* padding: 10px 15px; */
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: capitalize;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu a {
    padding: 10px 15px;
}

.one .submenu {
    color: #13132d;
    display: none;
}

.one .submenu {
    background: #121214;
}

.one .submenu li:hover {
    background: #313136;
}

.one ul a {
    color: #ffffff;
}

.one ul li:hover .submenu {
    display: block;
}


/* -----------  */

.acaunts {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.lk {
    cursor: pointer;
}

.pocup {
    display: flex;
    color: #ffffff;
}

.poisk {
    margin-right: 4%;
}

.sum {
    padding-left: 5%;
}

.block {
    padding-top: 10%;
}

.block {
    padding-top: 10%;
}

.galv-txt {
    color: var(--black, #121214);
    /* H2 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;
    /* 135.484% */
    text-transform: uppercase;
}

.container {
    padding-left: 7%;
    padding-right: 7%;
}

.coontainer {
    background: var(--black, #121214);
    width: 100%;
    height: 23rem;
    margin-top: 15%;
}

.blocks {
    padding: 5% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.top-text {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    /* 186.667% */
    text-transform: uppercase;
}

.mid-txt a {
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 186.667% */
}

.mid-txt a:hover {
    color: #257ee4;
    /* 186.667% */
}

.mes {
    display: flex;
}

.mes a {
    padding-left: 5%;
}

.prava {
    padding: 2% 7% 0 7%;
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.burger-menu {
    display: none;
    position: absolute;
    z-index: 50;
    width: 100%;
    background-color: #121214;
    height: 30rem;
    text-align: center;
    padding-top: 25%;
}

.burger-icon {
    display: flex;
    justify-content: end;
    padding-right: 7%;
}

.burger-menu-items a {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.350rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2rem;
    padding-top: 3%;
}

.burger-menu-items a:hover {
    color: #257ee4;
}

.katalog a {
    display: inline-flex;
    padding: 1rem 3.4875rem;
    justify-content: center;
    align-items: center;
    gap: 3.4375rem;
    border-radius: 0.3125rem;
    background: var(--black, #121214);
    text-transform: capitalize;
    transition: .5s linear;
}

.katalog a:hover {
    transform: scale(1.2);
}

.katalog {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 4%;
}

.block-gtxt {
    color: var(--dark_gray, #303030);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2.25rem;
    /* 156.522% */
    text-transform: uppercase;
}

.block-ptxt {
    color: #666;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6875rem;
    /* 168.75% */
}

.glav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    justify-content: center;
    padding-left: 30%;
    padding-right: 30%;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.popup {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
    color: #555;
}

.close-btn:hover {
    color: #333;
}

.content p {
    margin: 10px 0;
}

button#pehat {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button#pehat:hover {
    background-color: #45a049;
}

.popup-container.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#zakaz,#pehat{display: inline-flex;
    padding: 1rem 3.4875rem;
    justify-content: center;
    align-items: center;
    gap: 3.4375rem;
    border-radius: 0.3125rem;
    background:  #121214;
    text-transform: capitalize;
    transition: .5s linear;
    display: block;
    /* padding: 10px 15px; */
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: capitalize;
    transition: .5s linear;
}
.custom-checkout-btn {
    padding: 1em 2em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-checkout-btn:hover {
    background-color: #555;
}
.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.custom-modal-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: custom-modalopen 0.5s;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@keyframes custom-modalopen {
    from { transform: translateY(-50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.custom-close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.custom-close:hover,
.custom-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#custom-order-details p {
    margin: 0.5em 0;
}

#custom-total-amount, #custom-order-time {
    font-weight: bold;
    margin: 1em 0;
}

button#custom-confirm-order {
    padding: 0.7em 1.5em;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button#custom-confirm-order:hover {
    background-color: #555;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, select:focus {
    border-color: #777;
}
.name-users{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
}
.buttonsss .delete-btn{
    border: none;
    cursor: pointer;
    margin: auto;
}
.burger-icon {
    display: none;
    justify-content: end;
    padding-right: 7%;
}
