.container{
    margin-top: 10%;
}
.shopping-cart {
    width: 80%;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}

.title {
    padding: 20px;
    background: #f7f7f7;
    border-bottom: 1px solid #e8e8e8;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.item {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #e8e8e8;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.buttons span {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}

.delete-btn {
    width: 20px;
    height: 20px;
    background: url('../image/delete-icn.svg') no-repeat center/cover;
}

.like-btn {
    width: 20px;
    height: 20px;
    background: url('../image/twitter-heart.png') no-repeat center/cover;
    background-size: contain;
}

.image img {
    max-width: 100px;
    border-radius: 8px;
}
.image{
    padding-left:5%;
}

.description {
    flex: 1;
    padding-left: 13%;
}

.description span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
}

.quantity {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.quantity button {
    width: 32px;
    height: 32px;
    background-color: #e8e8e8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
}

.quantity input {
    width: 40px;
    height: 32px;
    text-align: center;
    border: 1px solid #e8e8e8;
    margin: 0 10px;
    font-size: 16px;
}

.total-price {
    width: 100px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
}

.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #e8e8e8;
}

.checkout-btn:hover {
    background-color: #555;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        margin: 0 10px;
    }
    .item {
        flex-wrap: wrap;
    }
    .description, .quantity, .total-price {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
}
