.container-checkboks{
    display: flex;

}
.wraper{
    margin-top: 15%;
}
.svaz-contziner{
    display: contents;
}
input[type=text]{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 17px;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    padding: var(--field-padding);
    height: 50px;
    padding-left: 15px;
}
.block-contakt {
    font-size: 14px;
    position: relative;
    --field-padding: 12px;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}
textarea{
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 17px;
    border-radius: 3px;
    width: 100%;
    font-size: 14px;
    padding: var(--field-padding);
    height: 110px;
}
.block-contakts{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.emailAndName{
    display: flex;
    gap: 3%;
}
.block-button{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}
.container-checkboks{
    display: flex;
    align-items: center;
}
.Otprav-Message{
    border-radius: 5px;
    /* black */
    background: rgb(18, 18, 20);
    width: 230px;
    height: 66px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 23px 47px 23px 47px;
    color: white;
    cursor: pointer;
    transition: .5s linear;
    font-family: RF Dewi Expanded;
    font-size: 19px;
}
.Otprav-Message:hover{
    transform: scale(1.1);
}
input[type=checkbox]{
    width: 23px;
    height: 23px;
    border-radius: 3px;
    /* blue */
    background: rgb(73, 208, 255);
    cursor: pointer;
}
.block-email a{
    color: black;
}
.block-telefonAndemail{
    display: flex;
    gap: 3rem;
}
.container-poderhka{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}
.kont{
    color: rgb(48, 48, 48);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}
.block-sety svg{
    cursor: pointer;
}
.block-sety a{
    color: black;
}
h4{
    color: rgb(48, 48, 48);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-transform: uppercase;
}
.lele{
    display: flex;
    gap: 3%;
}
