*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /*чтобы верстка флексами шла сверху вниз*/
    flex-wrap: wrap;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0px;
}

#element::-webkit-scrollbar {
    scrollbar-width: thin;
    /* "auto" или "thin"  */
    scrollbar-color: #FC1A3B rgb(30, 30, 30);
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 100%;
    margin: 0;
    padding-left: 7%;
    padding-right: 7%;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 0;
    width: 100%;
}

.header {
    background-color: #121214;
    display: flex;
    align-items: center;
    height: 4.25rem;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
}


/* ------------------  */

nav {}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu>li {
    display: inline-block;
    margin-right: 4rem;
    position: relative;
}

.topmenu>li:last-child {
    margin-right: 0;
}

a {
    display: block;
    /* padding: 10px 15px; */
    text-decoration: none;
    outline: none;
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
    text-transform: capitalize;
    transition: .5s linear;
}

.fa {
    font-family: "FontAwesome";
    color: inherit;
    padding-left: 10px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 120%;
    z-index: 10;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.submenu a {
    padding: 10px 15px;
}

.one .submenu {
    color: #13132d;
    display: none;
}

.one .submenu {
    background: #121214;
}

.one .submenu li:hover {
    background: #313136;
}

.one ul a {
    color: #ffffff;
}

.one ul li:hover .submenu {
    display: block;
}


/* -----------  */

.acaunts {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.lk {
    cursor: pointer;
}

.pocup {
    display: flex;
    color: #ffffff;
}

.poisk {
    margin-right: 4%;
}

.sum {
    padding-left: 5%;
}

.akk {
    color: var(--black, #121214);
    /* H2 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2.625rem;
    /* 135.484% */
    text-transform: uppercase;
    padding-top: 12%;
}

.vhode {
    width: 35.5625rem;
    border-radius: 0.3125rem;
    border: 1px solid #E9EAEE;
    background: #FFF;
}

.registr {
    width: 35.5625rem;
    border-radius: 0.3125rem;
    border: 1px solid #E9EAEE;
    background: #FFF;
}

.block {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.txt-glav {
    color: var(--dark_gray, #303030);
    /* H4 */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem;
    /* 130.435% */
}

.custom-field {
    font-size: 14px;
    position: relative;
    --field-padding: 12px;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

.custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 80%;
    font-size: 14px;
    padding: var(--field-padding);
    margin-top: 1%;
}

.email {
    padding-top: 5%;
}

.otstyp {
    padding-left: 10%;
    padding-top: 3%;
}

.custom-field label {
    color: #3C3D44;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.375rem;
    /* 169.231% */
}

.zp {
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
}

.zab {
    color: #676767;
    font-family: RF Dewi Extended;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    /* 142.857% */
    text-decoration-line: underline;
}

.zapom {
    display: flex;
    padding-left: 3%;
    padding-right: 7rem;
}

.katalog button {
    display: inline-flex;
    padding: 1rem 3.4875rem;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3.4375rem;
    border-radius: 0.3125rem;
    background: var(--black, #121214);
    text-transform: capitalize;
    transition: .5s linear;
}

.katalog a:hover {
    transform: scale(1.2);
}

.katalog {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 4%;
}

.katalogh {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 5%;
}

.katalogh button {
    display: inline-flex;
    padding: 1rem 4.4875rem;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3.4375rem;
    border-radius: 0.3125rem;
    background: var(--black, #121214);
    text-transform: capitalize;
    transition: .5s linear;
}

.katalogh a:hover {
    transform: scale(1.2);
}

.coontainer {
    background: var(--black, #121214);
    width: 100%;
    height: 23rem;
    margin-top: 15%;
}

.blocks {
    padding: 5% 7% 0 7%;
    display: flex;
    justify-content: space-between;
}

.top-text {
    color: #FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.75rem;
    /* 186.667% */
    text-transform: uppercase;
}

.mid-txt a {
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 186.667% */
}

.mid-txt a:hover {
    color: #257ee4;
    /* 186.667% */
}

.mes {
    display: flex;
}

.mes a {
    padding-left: 5%;
}

.prava {
    padding: 2% 7% 0 7%;
    color: #DCDCE0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}
.error-block {
    width: 300px;
    height: 60px;
    background-color: rgba(255, 0, 0, 0.66);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    margin: auto;

}
.block-errors{
    margin-top:5% ;
}
